.points {
  h2 {
    color: #ccc;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
}
